<footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline social-icons">
            <li class="list-inline-item"><a href="https://instagram.com/inspi_ecuador?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/investigacionensaludpublicaec" target="_blank"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-12">
          <p class="mb-0">© 2023 INSPI-EPISIG</p>
        </div>
      </div>
    </div>
  </footer>  
